@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr;
        grid-template-areas:
                "alert"
                "company"
                "nav-links"
                "img"
                "main"
                "sub"
                "footer";
    }
    .alert-info {grid-area: alert}
    h1 {grid-area: company}
    nav {grid-area: nav-links}
    .header-img {grid-area: img}
    .main {grid-area: main}
    .sub-section {grid-area: sub}
    footer {grid-area: footer}

}
@media screen and (min-width:960px) {

}
