@media screen and (min-width: 400px) {
    body {
        font-family: 'Raleway', sans-serif;
        width: 100%;
        height: 95vh;
        margin: 2.5vh;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
                "alert"
                "header"
                "nav-links"
                "img"
                "main"
                "sub"
                "footer";
    }
    .alert-info {
        grid-area: alert;
        background-color: rgb(192, 255, 255);
        margin: 20px;
        border: 2px solid rgb(211, 211, 211);
        padding: 20px 50px;
        height: 40px;
    }
    .alert-info a {
        text-decoration: none;
        color: #000;
    }
    h1 {
        grid-area: header;
        font-size: 4em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;

    }
    nav {
        grid-area: nav-links;

    }
    .header-img {grid-area: img}
    .main {grid-area: main}
    .sub-section {grid-area: sub}
    footer {grid-area: footer}
    li {
        list-style: none;
        background-color: rgb(204, 204, 204);
        margin: auto;
        margin-top: 1em;
        margin-right: 1em;
        /*height: 2vh;*/
        padding: 2.5em;
        font-size: 50px;
        font-weight: bold;
    }
}
@media screen and (min-width:960px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr repeat(2, 4fr) 1fr;
        grid-template-areas:
                "header nav-links"
                "img img"
                "main sub"
                "footer footer";
    }
    .hidden-on-desktop {display: none}
    h1 {grid-area: header}
    nav {grid-area: nav-links}
    .header-img {grid-area: img}
    .main {grid-area: main}
    .sub-section {grid-area: sub}
    footer {grid-area: footer}
}
