@media screen and (min-width: 400px) and (max-width: 768px){
    body {
        font-family: 'Raleway', sans-serif;
        height: 95vh;
        margin: 2.5vh 2%;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
                "alert"
                "header"
                "nav-links"
                "img"
                "main"
                "sub"
                "footer";
    }
    .alert-info {
        grid-area: alert;
        background-color: rgb(192, 255, 255);
        border: 2px solid rgb(211, 211, 211);
        padding: 25px 0;
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .alert-info a {
        text-decoration: none;
        color: #000;
    }
    h1 {
        grid-area: header;
        font-size: 4em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: .7em;

    }
    nav {
        grid-area: nav-links;
    }
    ul {
        padding: 0;

    }
    li {
         list-style: none;
         background-color: rgb(204, 204, 204);
         margin-top: .5em;
         padding: 1em;
         font-size: 2em;
     }
    .header-img {
        grid-area: img;
        margin-bottom: 10px;
    }
    .header-img img {
        width: 100%;
        height: auto;
    }
    .main {
        grid-area: main;
        text-align: left;
        margin-bottom: 30px;
    }
    .sub-section {
        grid-area: sub;
        text-align: left;
        font-style: italic;
        margin-bottom: 60px;
    }
    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
    }

}
@media screen and (min-width:769px) {
    body {
        font-family: 'Raleway', sans-serif;
        height: 95vh;
        margin: 0 2% 2.5vh 2%;
        display: grid;
        padding: 0;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr repeat(2, 4fr) 1fr;
        grid-template-areas:
                "header nav-links"
                "img img"
                "main sub"
                "footer footer";
    }
    .hidden-on-desktop {display: none}
    h1 {
        grid-area: header;
        font-size: 4.4em;
    }
    nav {
        grid-area: nav-links;
        padding-top: 4em;
    }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            list-style: none;
            font-weight: bold;
            font-size: 1.5em;
        }

        li {
            padding-left: 1.5em;
        }

    .header-img {
        grid-area: img;
        margin-bottom: 20px;
    }
    .header-img img {
        width: 100%;
        height: auto;
    }
    .main {
        grid-area: main;
        margin-right: 3em;
    }
    h2 {
        margin-bottom: 2em;
    }
    .sub-section {
        grid-area: sub;
        font-style: italic;
    }
    footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15em;
        margin-bottom: 5em;
    }
}
